h2{
  color: black;
}



.login-page, .register-page {
    flex-direction: row;
    background: white;
}

.login-logo{
  flex-basis: 50%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.login-logo img {
  width: 120%;
  max-width: 450px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logclass{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width:1000px;
}

.login-box{
  margin: auto auto;
  max-width: 360px;
  text-align: left;
}

.login-box h1 {
  font-weight: 700;
  font-size: 30px;
  color:black;
  line-height: 60px;
}

.signuplogobox{
  text-align: center;
  margin: auto auto;
  padding-bottom: 2.5rem;
}
.signuplogo{
  width: 45%;
}

.signupform{
  padding-left: 5%;
  padding-right: 5%;
  max-width: 600px;
  margin: auto auto;
}
